
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
}
  
  
.box {

    background-color: #3fc08d;

    width: 350px;
    height: 350px;
    border-radius: 40px;
    
    border-color: #3fc08d;
    
    padding: 20px;
    
    margin: 100px;
    
}

.text {
    font-size: 13px;
    padding-left: 50px;
    padding-top: 20px;
}

label {
    color: yellow;
}

button {
    color: red
}

p {
    color: blue;
}
