
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
.box {

    background-color: #3fc08d;

    width: 350px;
    height: 350px;
    border-radius: 40px;
    
    border-color: #3fc08d;
    
    padding: 20px;
    
    margin: 100px;
    
}